header {
    text-align: center;
    margin: 3rem 0;
  }
  
  header img {
    height: 7rem;
    width: 7rem;
    object-fit: cover;
  }
  
  header h1 {
    margin: 0;
    font-size: 5rem;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
  }
  
  header p {
    margin: 0;
    font-size: 1.25rem;
    color: #8964b0;
  }